/* ==========================================================================
   Base
   ========================================================================== */

*,
:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font: 1em/1.7 "Helvetica Neue", sans-serif;
    color: #222;
    background-color: #f6f8f7;
}

::selection {
    color: white;
    text-shadow: none;
    background-color: #ff3600;
}

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr {
    margin-top: 0;
    margin-bottom:1.5rem;
}

ul {
    margin-top: 0;
    padding-left: 0;
    list-style: none;
}

a {
    color: #0cf;
}









/* ==========================================================================
   Logo
   ========================================================================== */

.site {
    max-width: 39.5rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
}








/* ==========================================================================
   Logo
   ========================================================================== */

.logo {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-family: Futura, Raleway, sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.logo > a {
    text-decoration: none;
    color: #222;
}

.logo > a:hover,
.logo > a:focus {
    color: black;
}

.logo > a:hover > .logo__alt,
.logo > a:focus > .logo__alt {
    color: #0cf;
}

.logo__alt {
    color: #bcdeef;
}










/* ==========================================================================
   Tagline
   ========================================================================== */

.tagline {
    margin-top: 0;
    margin-bottom: 3rem;
    font-style: italic;
    font-weight: 100;
    font-size: 1.25rem;
}

.tagline a {
    color: #222;
}











/* ==========================================================================
   Group
   ========================================================================== */

.group {}







/* ==========================================================================
   Header
   ========================================================================== */

.header {
    margin-bottom: 3rem;
}








/* ==========================================================================
   Project / Post
   ========================================================================== */

.post,
.project {
    padding-bottom: 3rem;
}

.post__link,
.project__link {
    display: block;
    text-decoration: none;
    color: #222;
}

.post__link:hover .post__title,
.project__link:hover .project__title,
.post__link:focus .post__title,
.project__link:focus .project__title {
    color: #0cf;
}

.post__title,
.project__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3rem;
    font-family: Raleway, sans-serif;
}

.post__content,
.project__content {
    margin-top: 0;
    margin-bottom: 0;
}











/* ==========================================================================
   Profile
   ========================================================================== */

.profile-image {
    max-width: 100%;
}











/* ==========================================================================
   Bottom
   ========================================================================== */

.bottom {
    padding-top: 1rem;
    text-align: center;
}











/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
    text-align: center;
}

.footer p {
    margin-bottom: 0;
}

.footer a {
    color: white;
}

.copyright {
    margin-bottom: 0;
    padding: 1.25rem 1rem;
    color: white;
    background-color: red;
}











/* ==========================================================================
   Nav / Social links
   ========================================================================== */

.nav {
    margin-bottom: 0;
}

.nav > li,
.social-links > li {
    display: inline-block;
    text-align: center;
}

.nav > li:first-child > a,
.social-links > li:first-child > a {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.nav > li:last-child > a,
.social-links > li:last-child > a {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.nav > li > a,
.social-links > li > a {
    border-width: 1px 1px 1px 0;
    border-style: solid;
    padding: 0.35rem;
    display: block;
    font-size: 0.875rem;
    text-decoration: none;
    color: #0cf;
}

.nav > li:first-child > a,
.social-links > li:first-child > a {
    border-left-width: 1px;
}

.nav > li {
    width: 33.33333%;
}

.social-links > li {
    width: 20%;
}

.social-links > li > a > i {
    width: 20px;
    height: 20px;
    font-size: 1.25rem;
}

.page--portfolio .nav__portfolio > a,
.page--profile .nav__profile > a,
.page--playground .nav__playground > a,
.nav > li > a:active,
.nav > li > a:hover,
.nav > li > a:focus
.social-links > li > a:active,
.social-links > li > a:hover,
.social-links > li > a:focus {
    border-color: #0cf;
    color: white;
    background-color: #0cf;
}
