/*

                   :.
      ,ad8888ba,   888b      88
     d8"'    `"8b  8888b     88
    d8'            88 `8b    88
    88             88  `8b   88
    88             88   `8b  88
    Y8,            88    `8b 88
     Y8a.    .a8P  88     `8888
      `"Y8888Y"'   88      `888
                             `'

*/






/* ==========================================================================
   Base
   ========================================================================== */

:root {
  --blue: #0cf;
  --red: #f20;
  --white: #fff;
  --black: #222;
  --key: #000;
}

*,
:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font: 75%/1.7 -apple-system, BlinkMacSystemFont, sans-serif;
    color: var(--white);
    background-color: var(--red);
}

::selection {
    color: var(--white);
    text-shadow: none;
    background-color: #ff3600;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

h1, h2, h3 {
    font-weight: 800;
}

h1 {
    font-size: 3rem;
    line-height: 1.3;
}

ul {
    margin-top: 0;
    padding-left: 0;
    list-style: none;
}

pre {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1rem;
}

a {
    color: var(--white);
}

img {
    max-width: 100%;
}

iframe {
    margin-bottom: 1rem;
    vertical-align: top;
}






/* ==========================================================================
   Site
   ========================================================================== */

.site {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding: 3.5rem 2rem 1rem;
}






/* ==========================================================================
   Logo
   ========================================================================== */

.logo {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 2.5rem;
    font-family: Futura, -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 1.3;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.logo > a {
    text-decoration: none;
}

.logo > a:hover,
.logo > a:focus {
    color: var(--key);
}






/* ==========================================================================
   Tagline
   ========================================================================== */

.tagline {
    margin-top: 0;
    margin-bottom: 3rem;
    font-style: italic;
    font-weight: 100;
    font-size: 1.25rem;
}






/* ==========================================================================
   Header
   ========================================================================== */

.header {
    margin-bottom: 3rem;
}






/* ==========================================================================
   Project / Post
   ========================================================================== */

.post,
.project {
    padding-bottom: 3rem;
}

.post__link,
.project__link {
    display: block;
    text-decoration: none;
}

.post__link:hover .post__title,
.project__link:hover .project__title,
.post__link:focus .post__title,
.project__link:focus .project__title {
    color: var(--white);
}

.post__title,
.project__title {
    margin-top: 0;
}

.project__title {
    margin-bottom: 0;
}

.post__content,
.project__content {
    margin-top: 0;
    margin-bottom: 0;
}

.post__content h1 {
    font-size: 2em;
}






/* ==========================================================================
   Alerts
   ========================================================================== */

.alert {
    margin-bottom: 20px;
    border: 1px solid #fbeed5;
    border-radius: 4px;
    padding: 8px 35px 8px 14px;
    color: #C09853;
    background: #FCF8E3;
}






/* ==========================================================================
   Profile
   ========================================================================== */

.profile-image {
    max-width: 100%;
}






/* ==========================================================================
   Bottom
   ========================================================================== */

.bottom {
    padding-top: 1rem;
    text-align: center;
}






/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
    text-align: center;
}

.copyright {
    margin-bottom: 0;
    padding: 1.25rem 1rem;
    background-color: var(--white);
    color: var(--red);
}

.copyright p {
    margin-bottom: 0;
}

.copyright a {
    color: inherit;
}






/* ==========================================================================
   Nav / Social links
   ========================================================================== */

.nav {
    margin-bottom: 0;
}

.nav > li,
.social-links > li {
    display: inline-block;
    text-align: center;
}

.nav > li:first-child > a,
.social-links > li:first-child > a {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.nav > li:last-child > a,
.social-links > li:last-child > a {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.nav > li > a,
.social-links > li > a {
    border-width: 1px 1px 1px 0;
    border-style: solid;
    padding: 0.625rem 0.35rem;
    display: block;
    font-size: 0.875rem;
    line-height: 1;
    text-decoration: none;
    color: var(--white);
}

.social-links > li > a {
    padding: 0.25rem;
}

.nav > li:first-child > a,
.social-links > li:first-child > a {
    border-left-width: 1px;
}

.nav > li {
    width: 33.33333%;
}

.social-links > li {
    width: 20%;
}

.page--projects .nav__projects > a,
.page--profile .nav__profile > a,
.page--playground .nav__playground > a,
.nav > li > a:active,
.nav > li > a:hover,
.nav > li > a:focus
.social-links > li > a:active,
.social-links > li > a:hover,
.social-links > li > a:focus {
    border-color: var(--white);
    color: var(--red);
    background-color: var(--white);
}

.social-links > li > a > .icon {
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
}

.social-links > li > a > .icon path {
    fill: var(--white);
}

.social-links > li > a:hover > .icon path,
.social-links > li > a:focus > .icon path {
    fill: var(--red);
}






/* ==========================================================================
   Media queries
   ========================================================================== */

@media (min-width: 27.5rem) {
    html {
        font-size: 90%;
    }
}

@media (min-width: 35rem) {
    html {
        font-size: 100%;
    }
}
