body {
  margin: 0;
  padding: 2em;
  font: 1em/1.5 monospace; /*BlinkMacSystemFont, sans-serif;*/
}

a {
  color: red;
  text-decoration: none;
}

a:hover,
a:focus {
  background: linear-gradient(-135deg, transparent 4px, #000 5px, transparent 0), linear-gradient(135deg, transparent 4px, #000 5px, transparent 0);
  background-repeat: repeat-x;
  background-size: 13px 10px;
  background-position: left -13px;
}

pre {
  line-height: normal
}

.container {
  max-width: 60em;
  margin-right: auto;
  margin-left: auto;
}
