body {
  margin: 0;
  padding: 2em;
  font: 1.25em/1.5 BlinkMacSystemFont, sans-serif;
}

a {
  color: red;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

h2 {
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

li {
  display: inline-block;
}

hr {
  border: none;
  height: 7px;
  background: linear-gradient(-135deg, transparent 4px, #000 5px, transparent 0), linear-gradient(135deg, transparent 4px, #000 5px, transparent 0);
  background-repeat: repeat-x;
  background-size: 13px 10px;
}

pre {
  line-height: normal;
}

.container {
  max-width: 60em;
  margin-right: auto;
  margin-left: auto;
}
