html {
  font: 1rem/1.5 system-ui, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* cursor: url(../images/pizza.png) 0 0, default; */
  cursor: url(../images/hotdog.png) 20 10, default;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

* {
  /* outline: 1px solid rgba(0, 0, 0, 0.25); */
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25); */
}

*:focus {
  outline-offset: 6px;
  outline-width: 2px;
  outline-color: #fff;
  outline-style: solid;
}

h1 {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 800;
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: 0.0125em;
  /* background: cyan; */
}

h1 > a {
  color: rgba(0, 0, 0, 0.8);
}

h2 {
  margin-top: 2.5rem;
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
  line-height: 1.18;
  letter-spacing: 0.00625em;
  /* background: lime; */
}

h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  /* background: hotpink; */
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  /* background: gold; */
}

img {
  display: block;
  filter: grayscale(100%);
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

li {
  margin-bottom: 2rem;
}

a {
  color: inherit;
  color: royalblue;
  color: #e7ff6e;
  text-decoration: none;
  cursor: url(../images/hotdog.png) 20 10, default;
  /* background: orange; */
}

a:hover,
a:focus {
  /* color: blue; */
  text-decoration: underline;
  /* text-decoration-color: royalblue; */
  text-underline-position: below;
}

nav > a:hover {
  /* box-shadow: rgba(0, 0, 0, 0.6) 2px 8px 24px; */
}

mark {
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
}

::selection {
  background-color: red;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

ul > li {
  box-sizing: border-box;
  width: 50%;
  margin-bottom: 0;
  padding: 1rem;
  transition: box-shadow 200ms;
}

ul > li:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

ul > li > h2 {
  margin-top: 0;
}

section,
footer {
  position: relative;
  display: flex;
  justify-content: center;
}

footer::before,
section:not(:first-of-type)::before {
  /* content: '';
  width: 64px;
  height: 32px;
  border-bottom-left-radius: 64px;
  border-bottom-right-radius: 64px;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-color: #3360f4; */
  /* transform: rotate(90deg);
  transform-origin: 32px 0; */
}

section::after {
  content: '';
  width: 128px;
  /* width: 40vw; */
  height: 64px;
  border-top-left-radius: 128px;
  border-top-right-radius: 128px;
  position: absolute;
  bottom: -16px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  background-color: #34cbaf;
  background-color: #a2ecdf;
  /* transform: rotate(90deg);
  transform-origin: 32px 32px; */
}
